.vs/
Debug/
Release/
superfastcode/
PythonApplication1/env/
superfastcode2/Debug/
superfastcode2/Release/
superfastcode2/superfastcode2.vcxproj
superfastcode2/superfastcode2.vcxproj.filters
superfastcode2/superfastcode2.vcxproj.user
PythonApplication1/edami.pyproj
